@model Delphi.Models.Client
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Phone Number</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        
        {
            <tr>
                <td>@Model.Name</td>
                @*<td>@Html.ActionLink(A future link to direct to new sale?)</td>*@
                <td>@Model.Contact</td>
                <td>@Model.PhoneNumber</td>
                <td>@Model.Address</td>
                <td>@Model.StatusId</td>
            </tr>
        }
    </tbody>
</table>

